<header
  class="container showcase relative bg-showcase bg-no-repeat bg-cover bg-center pb-14 pt-11"
>
  <app-navbar></app-navbar>
  <app-showcase
    [title]="'Unveiling All the Latest Fashion Trends'"
    [showcase]="
      'Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum.'
    "
  ></app-showcase>
</header>
