<main>
  <div class="showcase-wrapper-home">
    <app-showcase
      title="Unveiling All the Latest Fashion Trends"
      showcase="Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum."
      btnLabel="Browse Posts"
    ></app-showcase>
  </div>

  <div class="app-list">
    <app-list></app-list>
  </div>

  <!-- amoto section -->
  <section
    class="container grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-14 py-24"
  >
    <div>
      <img
        src="https://images.pexels.com/photos/1073567/pexels-photo-1073567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="amoto"
      />
    </div>
    <div>
      <h1 class="font-bold text-5xl mb-10">
        I’m Foo McKenzie, a Fashion Expert and a Professional Writer
      </h1>
      <p class="max-w-4xl mx-auto leading-8">
        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
        tellus.
      </p>
      <button
        class="mt-8"
        mat-raised-button
        color="primary"
        [routerLink]="['/about']"
      >
        Learn More
      </button>
    </div>
  </section>

  <!-- amoto section 2 -->
  <section
    class="container amoto grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-14 py-24"
  >
    <div class="text-gray-100">
      <h1 class="font-bold text-5xl mb-10">
        Don't Miss Out on the Latest Fashion Trends!
      </h1>
      <p class="max-w-4xl mx-auto leading-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <input
        class="w-full p-3 outline-none border-0 text-gray-700 bg-gray-100 mt-4"
        type="email"
        placeholder="Enter your email"
      />
      <button
        class="mt-6"
        mat-raised-button
        color="primary"
        [routerLink]="['/about']"
      >
        Learn More
      </button>
    </div>
    <div>
      <img
        src="https://images.pexels.com/photos/808579/pexels-photo-808579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="amoto"
      />
    </div>
  </section>

  <!-- amoto section 3 -->
  <section>
    <img
      src="https://images.pexels.com/photos/206362/pexels-photo-206362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt="amoto"
    />
  </section>

  <!-- blog posts -->
  <section class="app-list grid place-items-center pb-20">
    <app-list></app-list>
    <button
      class="self-center"
      mat-raised-button
      color="primary"
      [routerLink]="['/blog']"
    >
      View All
    </button>
  </section>
</main>
