<nav class="relative z-[2] flex items-center justify-between">
  <h2
    class="flex flex-col uppercase text-gray-100 cursor-pointer"
    [routerLink]="['']"
  >
    <span class="font-bold text-xl leading-4">Blogposts</span>
    <span class="text-base leading-5 tracking-wider">fashon blog</span>
  </h2>

  <div class="flex items-center gap-8 text-gray-100">
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['/about']">About</a>
    <a [routerLink]="['/blog']">Blog</a>
    <a [routerLink]="['contact']">Contact</a>
    <!-- toggle theme -->
    <button
      class="!text-gray-100"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      matTooltip="Appearance"
    >
      <mat-icon>{{ iconName() }}</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setTheme('light')">
        <mat-icon>light_mode</mat-icon>
        <span>Bright Mode</span>
      </button>
      <button mat-menu-item (click)="setTheme('dark')">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark Mode</span>
      </button>
      <button mat-menu-item (click)="setTheme('system')">
        <mat-icon>devices</mat-icon>
        <span>System Mode</span>
      </button>
    </mat-menu>
  </div>
</nav>
