:root {
  // color-scheme: light;
  --primary: #4b0005;
  --secondary: #a03f3b;
  --light: #ececec;
  --dark: #1a1a1a;
}

.dark {
  // color-scheme: dark;
  --primary: #4b0005;
  --secondary: #a03f3b;
  --light: #1a1a1a;
  --dark: #ececec;
}
